.container {
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 1px 1px 7px 1px rgb(0 0 0 / 20%);
  background-color: #fff;
  border-radius: 10px;
}

.container-pessoas {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
}

.pessoa {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas:
    "nome editar"
    "acai qnt-acai"
    "empada qnt-empada"
    "total valor-total";

  align-items: center;
}

.nome-pessoa {
  background-color: var(--cor-cabec);
  padding: 0.8rem;
  color: #fff;
}

.nome {
  padding: 0 1rem;
}

.btn-editar {
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-size: 16px;
}

.controle-contador {
  width: 20px;
  border: transparent;
  text-align: center;
}

.controle {
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.controle-botao {
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid black;
  font-weight: 500;

  width: 20px;
  height: 20px;
  cursor: pointer;
}

.texto-total,
.valor-total {
  text-align: center;
}
